<header class="navbar">
  <div class="navbar-section navbar-left">
    <a href="{{ '/' | relative_url }}" class="navbar-logo" title="Home">
      <img
        src="https://media.discordapp.net/attachments/1380082663490064526/1380200953675780318/ARC1.png?ex=684303ce&is=6841b24e&hm=95fdae41f414cf32d4673b754cae13837081c93d06fb83e03e6656e0365d3a2e&=&format=webp&quality=lossless&width=1242&height=992"
        alt="ARC Logo"
      />
    </a>
  </div>

  {% if site.data.navigation %}
  <nav class="navbar-section navbar-center">
    <ul class="navbar-links">
      {% for item in site.data.navigation %}
      <li>
        <a
          href="{{ item.url | relative_url }}"
          class="{% if page.url == item.url %}active{% endif %}"
        >
          {{ item.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <div class="navbar-section navbar-right">
    <a href="https://github.com/creacher4" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <!-- Add more icons if you want -->
  </div>
</header>
