body {
  background-color: #111;
  color: #e0e0e0;
}

a {
  color: #afc3f7;
  text-decoration: none;
}

a:hover {
  color: #81d4fa;
}

code,
pre {
  background-color: #1e1e1e;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 0.95em;
}

p {
  margin-bottom: 1.25em;
  line-height: 1.65;
}
