---
layout: single
---

{{ content }}

<hr />
<h2 class="archive__subtitle">Guides Featuring {{ page.title }}</h2>

{% assign creator_id = page.id %} {% assign creator_guides = site.guides |
where_exp: "item", "item.creators_mentioned contains creator_id" %} {% if
creator_guides.size > 0 %}
<ul>
  {% for guide in creator_guides %}
  <li><a href="{{ guide.url | relative_url }}">{{ guide.title }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No guides have been written with this creator's work in them yet.</p>
{% endif %}
